<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'blog/static/bower_components/html5-boilerplate/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'blog/static/bower_components/html5-boilerplate/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'blog/static/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <script src="{% static 'blog/static/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'blog/static/css/conorstyle.css' %}">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

      <div class="container">
        <nav role="navigation" class="navbar navbar-fixed-top">
          <div class="container-fluid">
            <div class="row-fluid">
          <h1 class="span home"><a {% if flatpage.title = "welcome" %} class="current" {% endif %} href="/">Conor McGee</a></h1>
              <ul>
                <div class="row-fluid">
                <li class="span blog"><h2><a href="/blog">blog</a></h2>
                <li class="span projects"><h2><a {% if flatpage.title = "projects" %} class="current" {% endif %} href="/projects">projects</a></h2></li>
              </div>
                <div class="row-fluid">
                <li class="span about"><h2><a {% if flatpage.title = "about" %} class="current" {% endif %} href="/about">about</a></h2></li>
                <li class="span contact"><h2><a {% if flatpage.title = "contact" %} class="current" {% endif %} href="/contact">contact</a></h2></li>
              </div>
              </ul>
          </div>
        </nav>


            {% block content %} {% endblock %}


        <div class="container footer navbar-fixed-bottom">
          <div class="row">
            <div class="span12">
              <p> &copy; {% now "Y" %}</p>
            </div>
          </div>
        </div>

      </div> <!-- container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="alternate stylesheet" href="{% static 'blog/static/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <script src="{% static 'blog/static/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
