/* @import url(//fonts.googleapis.com/css?family=Roboto:400,300); */

nav {
	display:block;
	width: 66%;
	margin: auto;
	padding: 0px;
	background-color: rgba(51, 51, 51, 0.95);
	box-shadow: 0px 10px 20px rgba(51,51,51,0.95);
	}
nav div {
	float: left;
	padding: 0px;
	}
nav h1 {
	font-weight:normal;
	letter-spacing: 0.2em;
	}
nav h2 {
	display:inline;
	word-spacing:30px;
	font-weight:200;
	letter-spacing:0.3em;
	padding-right:30px;
	}
nav ul{
	-webkit-padding-start: 0px;
	padding-bottom:30px;
	}
nav li{
	display:inline;
  border-radius:5px;
	margin:10px;
	}

@media all and (max-width: 1052px) {
	nav {
		width:100%;
	}
	nav li {
		padding:2px;
		margin:2px;
	}
}

article {
	display:block;
	margin: auto;
	clear: both;
	background-color: #333;
	margin-top:30px;
	padding: 20px;
	width:66%;
	border-style: solid;
	border-width: 1px;
	border-color:#333;
	border-radius: 10px;
  word-wrap: break-word;

	-moz-animation: fadein 2s; /* Old Firefox */
  -ms-animation: fadein 2s; /* IE */
	-webkit-animation: fadein 2s;  /* Safari, Chrome */
	animation:fadein 2s;
	}

@keyframes fadein {
	from	{ opacity:0}
	to		{ opacity:1}
}
@-webkit-keyframes fadein { /* Safari, Chrome */
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {  /* IE */
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {  /* Old Firefox */
  from { opacity: 0; }
  to   { opacity: 1; }
}

article a {
	font-weight:700;
	}

footer {
	margin:auto;
	width: 33%;
	}

@media all and (max-width: 525px) {
	article {
		width:100%;
		padding-top:90px;
	}
	footer {
		width:100%;
	}
}

.home:hover {
	}
.home a {
	text-decoration:none;
	color:#eee;
	}
.home a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#0eecde;
	text-shadow:0px 0px 50px #0eecde;
	}
.home h2 {
	font-weight:200;
	letter-spacing:0.1em;
	}
.home h3 {
	font-weight:200;
	}
.home a.current {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#0eecde;
	text-shadow:0px 0px 50px #0eecde;
	}
.home.current a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#0eecde;
	text-shadow:0px 0px 50px #0eecde;
	}

.coursework:hover { 				/* Old code for making the whole article light up on hover */
	/*border-color:#0BFF1B;
  -moz-box-shadow: 5px 5px 10px
  #0BFF1B;
  -webkit-box-shadow: 7px 7px 7px
  #0BFF1B;
  box-shadow: 0px 0px 10px #0BFF1B inset;*/
	}
.coursework a {
	text-decoration:none;
	color:#eee;
	}
.coursework.current a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
  color:#0BFF1B;
  text-shadow:0px 0px 50px #0BFF1B;
	}
a.coursework:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#0BFF1B;
	text-shadow:0px 0px 50px #0BFF1B;
	}
.coursework a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#0BFF1B;
	text-shadow:0px 0px 50px #0BFF1B;
	}
.coursework h2 {
	font-weight:100;
	letter-spacing:0.1em;
	}
.coursework h3 {
	font-weight:200;
	}
.coursework.current {
	}
.coursework.current a {
  color:#0BFF1B;
  text-shadow:0px 0px 10px #0BFF1B;
	}
.coursework iframe {
	overflow:hidden;
	border:0px;
	}

.projects:hover{
	}
.projects a {
	text-decoration:none;
	color:#eee;
	}
a.projects:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#EC00DC;
	text-shadow: 0px 0px 50px #EC00DC;
	}
.projects a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#EC00DC;
	text-shadow: 0px 0px 50px #EC00DC;
	}
.projects.current a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#EC00DC;
	text-shadow: 0px 0px 50px #EC00DC;
	}
.projects h2 {
	font-weight:200;
	letter-spacing:0.1em;
	}
.projects h3 {
	font-weight:200;
	}
.projects .current{
	color:#EC00DC;
	text-shadow:0px 0px 10px #EC00DC;
	}
.projects img {
	align:center;
	margin:auto;
	width:66%;
	}
.projects li {
	padding-bottom:20px;
}

.blog:hover {
	}
.blog a {
	text-decoration:none;
	color:#eee;
	}
.blog a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#FF8C00;
	text-shadow:0px 0px 50px #FF8C00;
	}
.blog.current a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#FF8C00;
	text-shadow:0px 0px 50px #FF8C00;
	}
.blog h2 {
	font-weight:200;
	letter-spacing:0.1em;
	}
.blog h3 {
	font-weight:200;
	}
.blog .current {
	color:#FF8C00;
	text-shadow:0px 0px 10px #FF8C00;
	}

.about:hover {
	}
.about a {
	text-decoration:none;
	color:#eee;
	}
.about a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#FFEE00;
	text-shadow:0px 0px 50px #FFEE00;
	}
.about.current a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#FFEE00;
	text-shadow:0px 0px 50px #FFEE00;
	}
.about h2 {
	font-weight:200;
	letter-spacing:0.1em;
	}
.about h3 {
	font-weight:200;
	}
.about .current {
	color:#FFEE00;
	text-shadow:0px 0px 10px #FFEE00;
	}

.contact:hover {
	}
.contact a {
	text-decoration:none;
	color:#eee;
	}
.contact a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#FF0000;
	text-shadow:0px 0px 50px #FF0000;
	}
.contact.current a:hover {
	-webkit-transition: text-shadow, 1s, ease;
	transition: text-shadow, 1s, ease;
	color:#FF0000;
	text-shadow:0px 0px 50px #FF0000;
	}
.contact h2 {
	font-weight:200;
	letter-spacing:0.1em;
	}
.contact h3 {
	font-weight:200;
	}
.contact .current {
	color:#FF0000;
	text-shadow:0px 0px 50px #FF0000;
	}

body{
	background-color: #333;
	color:#eee;
	font-family: "futura-pt", '',sans-serif;
	font-weight:200;
	font-size:large;
	padding-top:90px;
	padding-bottom:60px;
	}

body a {
	text-decoration:none;
	color:inherit;
	}

ul {
  list-style-type: none;
  }

iframe {
	width:100%;
	float:center;
}

/* .footer {
	display:block;
	margin: auto;
	clear: both;
	background-color: rgba(51, 51, 51, 0.95);
	padding: 10px;
	width:66%;
	word-wrap: break-word;

	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-webkit-animation: fadein 2s;
	animation:fadein 2s;
} */



.wf-loading article {
    /* Hide the body while web fonts are loading */
    visibility: hidden;
}
